[submodule "bundle/SrcExpl"]
	path = bundle/SrcExpl
	url = https://github.com/wesleyche/SrcExpl.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Trinity"]
	path = bundle/Trinity
	url = https://github.com/wesleyche/Trinity.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
